<style>
    form.custom-form {
        max-width: 400px;
        margin: 50px auto; /* Sayfanın ortalarına çekmek için üstten biraz boşluk ekledik */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge ekleyerek daha belirgin hale getirdik */
    }

        form.custom-form p {
            margin-bottom: 15px;
        }

        form.custom-form input[type=password] {
            width: calc(100% - 20px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
            box-sizing: border-box;
        }

            form.custom-form input[type=password]:focus {
                outline: none;
                border-color: #66afe9;
            }

        form.custom-form button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
            width: 100%; /* Düğmenin formun genişliğine uyacak şekilde tam genişlikte olmasını sağlar */
        }

            form.custom-form button:hover {
                background-color: #45a049;
            }

        form.custom-form .error {
            color: red;
            margin-top: 10px;
        }


</style>


<form class="custom-form" method="post">
    <p><input type="password" required placeholder="Şuan ki şifrenizi giriniz." name="OldPassword" /></p>
    <p><input type="password" required placeholder="Yeni şifrenizi giriniz." name="Password" /></p>
    <p><input type="password" required placeholder="Yeni şifrenizi tekrar giriniz." name="PasswordRepeat" /></p>
    <button>Şifre Degistir</button>
    @if (ViewBag.Password != null)
    {
        <p>@ViewBag.Password</p>
    }
</form>
